.body{
    text-align: center;
    background-image: url('Bg.jpg');
    background-size: cover;
    font-family: cursive;
    color: white;
}
.login_div{
	background: rgba(255, 255, 255, 0.8);
    float: none;
    padding-bottom: 50px;
    border-radius: 15px;
}
#login_button{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 200px;
    height: 50px;
    font-size: large;
}
#question_div{
    background: white;
border-radius: 10px;
border-top: 10px solid #000000;
padding: 10px;
float: none;
text-align: left;
}
#button_open{
    color: #000000;
    width: 150px;
    height: 50px;
    background-color: white;
}